$border-color: #adadad
$table-odd-row: #efefef

html, body
  counter-reset: h2counter
  font-family: 'Noto Sans', sans-serif
  background-color: white

  .md-container
    max-width: 1020px
    margin-left: auto
    margin-right: auto

    .md-header

      h1, h2, h3, h4, h5, h6
        text-align: center

      .md-author:not(:last-of-type)::after
        content: ', '

    .md-body
      table
        width: 100%
        border-collapse: collapse
        border-color: $border-color
        tr
          border: 1px solid $border-color
          td, th
            border: 1px solid $border-color
            padding: 8px
          th
            text-align: start
            background-color: #ffffff
        tbody
          tr:nth-child(odd)
            background-color: $table-odd-row

      h1
        counter-reset: h2counter

      h2
        counter-increment: h2counter
        counter-reset: h3counter

      h2::before
        content: counter(h2counter) ".\0000a0\0000a0"

      h3
        counter-increment: h3counter

      h3::before
        content: counter(h2counter) "." counter(h3counter) ".\0000a0\0000a0"

      a
        color: blue


      blockquote
        margin: 0 0 16px
        padding: 0 1em
        color: #6a737d
        border-left: 0.25em solid #dfe2e5

      p
        img:only-child
          display: block
          margin-left: auto
          margin-right: auto
          max-width: 95%

        img:only-child::after
          content: attr(title)

        code
          color: #c7254e
          background-color: #f9f2f4

      code, code span
        font-family: "Menlo","Liberation Mono","Consolas","DejaVu Sans Mono","Ubuntu Mono","Courier New","Andale Mono","Lucida Console",monospace


    .md-footer
      font-size: small

      .md-right
        float: right
        display: inline-block
      .md-left
        float: left
        display: inline-block

